<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.alliedmods.stocks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StockApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_bull"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bull"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AddStockActivity"
            android:label="Add Stock Symbol"
            android:parentActivityName=".EditListActivity">
        </activity>
        <activity
            android:name=".EditListActivity"
            android:label="Edit Stock List"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity_title"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.alliedmods.stocks.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:colorMode="wideColorGamut"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>